.topbar-wrapper {
  position: relative;

  .animated-gradient-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Add your animated gradient background styles here */
    z-index: -1; /* Ensure the background is behind other elements */
  }

  /* Rest of your styles for the Topbar component */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: transparent;
  color: white;
  height: 100px;
  position: relative;

  .logo-container {
    z-index: 1;
  }

  a {
    color: inherit;
    font-size: 1.6rem; /* Adjust the font size as needed */
    font-weight: bold; 

    &.user-container {
      color: inherit;
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    &.contact-link {
      margin-right: 3rem;
      margin-left: 1rem;
      font-size: 1.6rem; /* Adjust the font size as needed */
      
    }
  }

  &-items {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

}
